
.task-1-txt{
    margin-top:200px;
    margin-left:100px;
    width:45%;
    
}
.task-1-txt img{
width:300px;
height:120px;
margin-bottom:-10px;
margin-left:-30px
}
.task-form{
    width:35%;
    margin-top:150px;

}
small a{
    margin-left:130px;
}
.abc{
    background-color:rgb(240,242,245);
    height:700px
}
.gg{
    margin-left:80px
}
.oo{
    margin-left:750px;
    margin-top:30px;
    font-size:12px
}
