body{
    background-color:rgba(248, 242, 242, 0.699)
}
.box-a{
    width:25%;
    margin:20px 30px;
    margin-bottom:0px;
    padding:20px;
    padding-bottom:0px;
    text-align:center;
    font-size:25px;
    background-color:white;
    
    border:0.5px solid black;
    border-radius:10px;
}
.box-a:hover{
    box-shadow:0px 0px 10px silver
}
.box-a img{
    width:250px;
    height:200px;
    margin-bottom:20px;
    border:0.5px solid green;


}
.t-6{
    margin-top:200px;
    
} 
.box-a a{
    background-color:rgb(109,142,162);
    color:white; 
    font-size:20px;
    padding:10px 20px;
    width:200px;
    border-radius:10px;
    text-decoration:none;
    
    
}
.s{
    background-color:rgb(243, 9, 79);
    border-radius:10px;
    height:5px;

}
.o{
    background-color:rgb(103, 57, 183);
    border-radius:10px;
    height:5px;
    
}
.y{
    background-color:rgb(7, 192, 225);
    border-radius:10px;
    height:5px
}

.task-form{
    width:35%;
    margin:0 auto;
    margin-top:150px;
    

}
small a{
    margin-left:130px;
}
.abc{
    background-color:rgb(240,242,245);
    height:700px
}
.gg{
    margin-left:80px
}
.oo{
    margin-left:750px;
    margin-top:30px;
    font-size:12px
}
@media only screen and (max-width:1000px){
    .box1{
        margin-left:80px
    }
    .task-form{
        width:80%;
        margin:none
       
    }
 }
